.fleixble-container{
    max-width: 1920px;
    height: 435px;
    margin-top: 200px;
    background-color: var(--background-color-green);
}

.fleixble-container{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 50px;
}
.flexible-text{
    color: var(--text-color-light);
    & span{
        display: block;
    }
}
.flexible-text h3{
    font-size: 52px;
    margin-bottom: 0;
}

.flexible-btn{
    background-color: var(--text-color-yellow);
    color: var(--text-color-green);
    font-weight: 600;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}