.hero-booking {
  width: 100%;
  background-color: var(--background-color-green);
  padding: 80px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-booking-content {
  text-align: center;
  max-width: 900px;
  color: var(--text-color-light);
  padding: 0 20px;
}

.hero-booking-content h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: var(--text-color-light);
  line-height: 1.3;
}

.hero-booking-content p {
  max-width: 650px;
  margin: 0 auto 30px auto;
  color: var(--text-color-light);
  font-size: 15px;
}

.hero-booking-btn {
  display: inline-block;
  padding: 10px 25px;
  background-color: var(--button-background-color);
  text-decoration: none;
  color: var(--text-color-green);
  font-weight: 600;
  border: none;
  border-radius: 5px;
}