.services-container{
    max-width: 1404px;
    max-height: 493px;
    margin-left: 200px;
    margin-top: 150px;
    color: var(--text-color-green);
}

.services-subtitle{
    color: var(--text-color-yellow);
    font-weight: 600;
    font-size: 25px;
    margin: 0;
}
.services-header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0;
}
.services-title{
    font-size: 52px;
    padding-right: 150px;
    margin-top: 0;
    & span{
        display: block;
    }
}
.services-description {
    margin-top: 0;

    & span{
        display: block;
    }
}
.services-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.service-image{
    grid-column: 2;
    grid-row: 1 / 4;
    margin: 0px 30px 0px 10px;
}
.service-card{
    border: 3px solid rgb(209, 208, 208);
    box-shadow: 0 4px 20px rgb(182, 182, 182);
    padding-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}
.service-card:hover{
    border: 3px solid var(--yellow);
}