
.price-container{
    max-width: 1365px;
    max-height: 692px;
    margin-left: 230px;
    margin-top: 70px;
}
.pricing-h4{
    color: var(--text-color-yellow);
    font-size: 25px;

}
.pricing-h3{
    color: var(--text-color-green);
    font-size: 52px;
    & span{
        display: block;
    }
}

.unit-container{
    display: flex;
    justify-content: space-between;
}
.small-unit{
    width: 321px;
    height: 519px;
    background-color: var(--backgroundcolor-units);
    border: 2px solid var(--gray-background-color);
    border-radius: 10px 10px 10px 10px;
}
.title{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: var(--text-color-green);
}
.price {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 4px;
}

.currency {
    font-size: 20px;
    color: var(--text-color-yellow);
    transform: translateY(-10px);
}

.amount {
  font-size: 52px;
  font-weight: 800;
  color: var(--text-color-yellow);
}

.month {
  font-size: 20px;
  color: var(--text-color-green);
  transform: translateY(10px);
  
}
.text-pricing{
    display: block;
    justify-content: center;
    text-align: center;
    color: var(--text-color-green);
}
hr{
    width: 80%;
}
.pricing-list {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 20px;
}

.pricing-list li {
    display: flex;
    align-items: center;
    gap: 10px; 
    color: var(--text-color-green);
    font-size: 16px;
    margin-bottom: 10px;
}

.list-icon {
    width: 18px;
    height: 18px;
}


.pricing-button {
    display: flex;
    justify-content: center;
}

.pricing-rent {
    background-color: var(--text-color-yellow);
    color: var(--text-color-green);
    font-weight: 600;
    border: none;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s;
}



.medium-unit{
    width: 321px;
    height: 519px;
    background-color: var(--backgroundcolor-green-units);
    border: 2px solid var(--gray-background-color);
    border-radius: 10px 10px 10px 10px;
}
.title-white{
    display: flex;
    justify-content: center;
    font-size: 24px;
    color: var(--text-color-light);
}

.month-white{
    font-size: 20px;
    color: var(--text-color-light);
    transform: translateY(10px);
  
}
.text-pricing-white{
    display: block;
    justify-content: center;
    text-align: center;
    color: var(--text-color-light);
}
.pricing-list-white {
    list-style: none;
    padding: 0;
    margin: 20px 0 0 20px;
}

.pricing-list-white li {
    display: flex;
    align-items: center;
    gap: 10px; 
    color: var(--text-color-light);
    font-size: 16px;
    margin-bottom: 10px;
}
.list-icon {
    width: 18px;
    height: 18px;
}
.large-unit{
    width: 321px;
    height: 519px;
    background-color: var(--backgroundcolor-units);
    border: 2px solid var(--gray-background-color);
    border-radius: 10px 10px 10px 10px;
}
.executive-unit{
    width: 321px;
    height: 519px;
    background-color: var(--backgroundcolor-units);
    border: 2px solid var(--gray-background-color);
    border-radius: 10px 10px 10px 10px;
}