.safe-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  max-height: 1367px;
  margin-top: 100px;
  padding-left: 200px;
}

.safe-wrapper {
  height: 441px;
  background-color: var(--gray-background-color);
  display: flex;
  justify-content: center;
  align-items: flex-end; 
}

.experience {
  position: relative;
  width: 100%;
  max-width: 600px;
  top: 100px;
  padding-left: 35px;
}

.bg-img {
  width: 90%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 30px;
}

.safe-text {
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  color: var(--text-color-yellow);
  height: 130px; 
  padding: 0 20px; 
  border-radius: 10px;
  margin-bottom: 20px;
}

.safe-text h2 {
  margin: 0;
  font-size: 28px;
  color: var(--text-color-yellow);
}

.safe-text p {
  margin: 0;
  font-size: 14px;
  color: var(--text-color-light);
}
.safe-about-us{
   margin-left: 30px;
   color: var(--text-color-green);
   margin-top: -20px;
   
}
.safe-h2-text{
    font-size: 52px;
    margin-top: 0;
    margin-bottom: 0;
}
.safe-about-p{
    color: var(--text-color-yellow);
    font-size: 25px;
    margin-bottom: 0;
}
.safe-h2-text span{
    display: block;
}
.safe-p-text span{
    display: block;
}
.mission-vision{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.vision{
  width: 321px;
  height: 156px;
  border: 3px solid rgb(209, 208, 208);
  box-shadow: 0 4px 20px rgb(182, 182, 182);
  padding-left: 20px;

}
.vision span{
  display: block;
}
.vision:hover{
  border: 3px solid var(--yellow);
}
.mission{
  width: 321px;
  height: 156px;
  border: 3px solid rgb(209, 208, 208);
  box-shadow: 0 4px 20px rgb(182, 182, 182);
  padding-left: 20px;
}
.mission span{
  display: block;
}
.mission:hover{
  border: 3px solid var(--yellow);
}
.button{
  margin-top: 50px;
  margin-left: 5px;
}
.more-info{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.more-info-img{
  display: flex;
}
.text-more-info{
  margin: 0;
}
.text-more-info h5{
  font-size: 24px;
  margin-bottom: 0;
  margin-left: 5px;
}
.text-more-info h6{
  font-size: 20px;
  margin-top: 0;
  margin-left: 5px;
}