.subscribe-section {
    background-color: var(--background-color-cream);
    padding: 60px 0;
    margin-top: 100px;
}

.subscribe-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 0 100px;
}

.subscribe-text h2 {
    color: var(--text-color-green); 
    font-size: 32px;
    margin: 0 0 10px 0;
}

.subscribe-text p {
    color: var(--text-color-green);
    font-size: 16px;
    margin: 0;
}

.subscribe-form {
    display: flex;
    align-items: center;
    gap: 10px;
}

.subscribe-form input {
  padding: 12px 20px;
  border: 1px solid var(--text-color-yellow);
  border-radius: 4px;
  outline: none;
  width: 280px;
  font-size: 15px;
}

.subscribe-form input:focus {
  border-color: var(--text-color-yellow);
}

.subscribe-form button {
  background-color: var(--text-color-yellow);
  color: var(--textcolor-green);
  border: none;
  border-radius: 4px;
  padding: 12px 20px;
  font-weight: 600;
  cursor: pointer;
}

.subscribe-form button:hover {
  background-color: var(--text-color-yellow);
}

.error {
  color: red;
  font-size: 14px;
  margin-top: 5px;
}
.footer-section {
  background-color: var(--background-color-green);
  color: var(--text-color-light);
}
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 100px;
}
.footer-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer-links a {
  color: var(--text-color-light);
  margin-left: 20px;
  text-decoration: none;
  font-size: 14px;
}

.footer-links a:hover {
  text-decoration: underline;
}
